//output: ../gif.html, pretty:true
doctype html
html(lang="en")
  head
    title= Hello, gif
    //- Style
    link(rel="stylesheet", type="text/css", href="css/master.css")
    link(rel="stylesheet", type="text/css", href="css/tools/animate_v3.5.1_.css")
    link(rel="stylesheet", type="text/css", href="css/tools/font-awesome-v4.5.0/font-awesome.min.css")
    //- js tools
    script(src='https://code.jquery.com/jquery-2.2.1.js', integrity='sha256-eNcUzO3jsv0XlJLveFEkbB8bA7/CroNpNVk3XpmnwHc=', crossorigin='anonymous')
    script(type="application/javascript", src="js/tools/p5.js_v0.4.22/p5.min.js")
    script(type="application/javascript", src="js/tools/p5.js_v0.4.22/addons/p5.dom.min.js")
    script(type="application/javascript", src="js/tools/p5.js_v0.4.22/addons/p5.sound.min.js")
    //- script(type="application/javascript", src="js/tools/jquery-1.12.1.min.js")
    script(type="application/javascript", src="js/tools/handlebars-v4.0.5.js")
    script(type="application/javascript", src="js/apiKey.js")
    script(type="application/javascript", src="js/main.js")
  body
    .videoContainer
      video(autoplay='')
        source(src='http://media.giphy.com/media/m3lsvix9fzzz2/giphy-loop.mp4', type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')
        source(src='video/trailer.webm', type='video/webm; codecs="vp8, vorbis"')
        |     Video not supported.
    form
      input(type="text", placeholder="Artist Name" id="artistSearch")
      select(id="artistPick")
        option(value="getInfo") Info
        option(value="getTopAlbums") Top Albums
        option(value="getTopTracks") Top Tracks
    br
    br 
    button(type="submit", id="submit-btn" ) Search   
    br
    br
    #template-container
    br  
    #template-container-one
    br
    #template-container-Two
    br 
    #templateContainer-Gif
    br      
    script(id="widget", type="text/x-handlebars-template")  
      p Name:
        {{artist.name}}
      p Summary:
        {{artist.bio.summary}} 
        
      {{#each artist.tags.tag}}
      <li>
      {{name}}
      </li>
      {{/each}}  
        
    script(id="widgetOne", type="text/x-handlebars-template")
      {{#each data.urls}}
      <li>
      a(href="{{this}}", target="_blank") {{this}}
      </li>
      {{/each}}
      
    script(id="widgetTwo", type="text/x-handlebars-template")
      {{#each data.releases}}
      <li>
      p {{artist}}
      </li>
      <li>
      p {{title}}
      </li>
      <li>
      p {{year}}
      </li>
      <br>
      </hr>
      {{/each}}
    script(id="gif", type="text/x-handlebars-template")
  
